html {
    font-size: 10px;
    background-color: #FF9500;
    /*background-color: #2A2A2E; #020E3E; COLOR AZUL OSCURO MOZ DEV*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 800px;
    margin: 0 auto;
    background-color: #FF9500;
    /*background-color: #2A2A2E; #020E3E; COLOR AZUL OSCURO MOZ DEV*/
    padding: 0 20px 20px 20px;
    box-shadow: 0px 2px 40px #ff5600;
    /*box-shadow: 0px 2px 40px #0C0C0D; #0172EC;COLOR AZUL CLARO MOZ DEV*/
    color: #FFFFFF;
    text-shadow: 1px 1px 1px rgb(65,63,63);
}

h1 {
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #FFFFFF;
    text-shadow: 2px 1px 2px rgb(65, 63, 63);
}

h2 {
    font-size: 20px;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px rgb(65,63,63);
}

p, li, a {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    color: #FFFFFF;
    text-align:justify;
}

img {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

button{
    display: block;
    margin: 20px auto;
    background: #FF9500;  
    /*background: #2A2A2E;*/  
    box-shadow:  0px 0px 5px #FF5600;
    /*box-shadow:  0px 0px 5px #0C0C0D;*/
    width: 200px;
    height: 40px;
    border: none;
    color:#FFFFFF;
    font-family:'Segoe UI   ', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 2px;
    font-size: 18px;    
}
